.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.input-user-container {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

.input-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.table-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  vertical-align: middle;
}

td {
  text-align: center;
}